# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.lucky2.iml
# Datasource local storage ignored files
/../../../../../../../:\Files\Web Development\lucky2\.idea\.idea.lucky2.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
